---
const { title = 'Посчитаем вашу задачу под ключ', text = 'Опишите задачу, подберём борт, посчитаем экономику и возьмём на себя документы, эксплуатацию и страхование', cta = 'Получить расчёт' } = Astro.props;
---
<div class="ctaband">
  <div>
    <h3>{title}</h3>
    <p>{text}</p>
  </div>
  <a href="/contacts" class="btn lg">{cta}</a>
</div>
